<footer>
    <p>
      Built by
      <a
        class="footer-link"
        href="#"
        target="_blank"
        >Fatima Basharat</a
      >
      |
      <a
        class="footer-link"
        href="#"
        target="_blank"
        >Source</a
      >
    </p>
  </footer>